<!DOCTYPE html>
<html lang="ru">
<head>
    <meta http-equiv='Content-Type' content='text/html; charset=UTF-8'/>
    <title>Weeks Report</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
<div class="container-fluid" style="background-color: #9fe0b1;">
    <div class="container h1" style="padding-top: 10px; padding-bottom: 5px">
        Government Contact Center
    </div>
</div>
<div class="container" style="padding-top: 20px;">
    <h2>Weeks Report</h2>
</div>
<div class="container" style="padding-top: 20px;">
    <form class="form-inline">
        <p>Start date: <input type="date" name="startDate"></p>
        <p>&nbsp;&nbsp;Finish date: <input type="date" name="endDate"></p>
        <p>&nbsp;&nbsp;<input type="submit" value="Get report"></p>
    </form>
</div>
</body>
</html>